/* ------------------------------
   STYLE GLOBAL
------------------------------ */

body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

/* Titres */
h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #4da3ff;
    font-weight: 600;
}

/* Liens */
a {
    color: #4da3ff;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
}

/* ------------------------------
   FORMULAIRES
------------------------------ */

form {
    max-width: 600px;
    margin: auto;
    background: #2a2a2a;
    padding: 20px;
    border-radius: 10px;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #cccccc;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #444;
    background: #333;
    color: #fff;
}

textarea {
    height: 100px;
}

/* Bouton principal */
button {
    width: 100
